# Android build artifacts
android/app/build/
android/app/.cxx/
android/.gradle/
android/build/
android/local.properties

# Metro
.metro-health-check*

# Uniwind generated
src/uniwind.d.ts
uniwind-types.d.ts

# Node
node_modules/
